PORT=

API_KEY="CHAVE DA API"

DATABASE_URL="URL DE CONEXAO DO POSTGRES"
REDIS_URL="URL DE CONEXAO DO REDIS"
RABBITMQ_URL="URL DE CONEXAO RABBITMQ"

OTEL_SERVICE_NAME='trouw-ms-audit-service'
OTEL_SERVICE_VERSION='1.0.0'
OTEL_OTLP_TRACES_EXPORTER_URL='http://localhost:14318/v1/traces'
OTEL_OTLP_LOGS_EXPORTER_URL='http://localhost:14318/v1/logs'
OTEL_OTLP_METRICS_EXPORTER_URL='http://localhost:14318/v1/metrics'

LOG_LEVEL='info'
